doctype html
html
    head
        title MercadoPago SDK - Create Preference and Show Checkout Example

    body
        a.orange-ar-m-sq-arall(href=preference.body.init_point,name="MP-Checkout") Pay
        script(type="text/javascript", src="//resources.mlstatic.com/mptools/render.js")
