doctype html
html
  head
    title Result

  body
    table(border=1)
      tr
        th id
        th site_id
        th external_reference
        th status
      - result.body.results.forEach(function (collection) {
      tr
        td collection.id
        td collection.site_id
        td collection.external_reference
        td collection.status
      - });
