doctype html
html
  head
    title MercadoPago SDK - Create Plan and Show Plan Example

  body
    span.orange-ar-m-sq-aron Plan is #{plan.body.status}: #{plan.body.id}
    script(type="text/javascript", src="//resources.mlstatic.com/mptools/render.js")
