name: CI

on:
  push:
    branches: ['**']
  pull_request:
    branches: ['**']

jobs:
  test:
    name: Test on Node v${{ matrix.node-version }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - name: Install deps (include dev)
        run: npm ci --legacy-peer-deps
        env:
          NODE_ENV: development
          NPM_CONFIG_PRODUCTION: 'false'
      - name: Build
        run: npm run build
      - name: Test
        run: npm test
